* {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: 'Outfit', sans-serif;
  line-height: 1.2;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
