* {
  box-sizing: border-box;
}

#root {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

body {
  margin: 0;

  font-family: 'Outfit', sans-serif;
  line-height: 1.2;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../assets/images/background/small.jpg);
}

@media (min-width: 768px) {
  body {
    background-image: url(../assets/images/background/medium.jpg);
  }
}

@media (min-width: 1200px) {
  body {
    background-image: url(../assets/images/background/large.jpg);
  }
}
